html,
body {
  background-color: #FCDCDB;
}

.custom-navbar {
  background-color: #F5EBD2;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-nav .nav-link {
  color: #5c5a5a !important;
  font-size: 16px !important;
  font-weight: normal !important;
  padding: 10px 15px !important;
}

.navbar-nav .nav-link:hover {
  color: #0e010d !important;
  text-decoration: none !important;
}

h2 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 18px;

}

.card-body {
  width: 370px;
  height: 300px;
  border-radius: 10px;
}

.card-text {
  text-align: center;

  line-height: 30px;

}

.carousel-item {
  max-height: 800px;
}

.carousel-item img {
  max-height: 300px;
  object-fit: cover;
}

.carousel-control-prev,
.carousel-control-next {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  top: 38%;
  transform: translateY(-38%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
}

body {
  padding-bottom: 100px;
}

.rounded-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.rounded-image img {
  width: 100%;
  height: auto;
  display: block;
}

h6 {
  font-size: 15px;
}

h5 {
  font-size: 10px;
}


/* .flip-card{
  position: relative;
  width:100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.flip-card .front,
.flip-card .back{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  backface-visibility: hidden;
  border-radius: 0 20px 0 px;
}

.flip-card .back{
  transform: rotateX(180deg);
  color: #000;
  background: #fff;
}

label:hover .flip-card{
  transform: rotateX(2deg);
  box-shadow: 0 20px 20px rgba(50,60,60,0.2);
}

 */

/*  #sobreNosotros {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
} */

/* .container > div {
  display: inline-block;
  vertical-align: middle;
} */

/*.social-icons a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}**/

.social-icons {
  float: right;
}

.social-icons a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 25px;
}

copyright {
  text-align: center;
}

/* Estilos del footer personalizado */
.custom-footer {
  background-color: rgb(53, 2, 53);
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.policy {
  background-color: rgb(80, 2, 80);
  color: white;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}