html,body{
background-color: #FCDCDB;
}
 
.custom-navbar {
  background-color: #F5EBD2;
}

#logo {
  width: 10rem;
  height: auto;
}
 
h2{
  font-family: "Playfair Display",serif ;
}

p{
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 18px;
  
}

.card-body{
  width: 370px;
  height: 300px;
  border-radius: 10px;
}

.card-text{
  text-align: center;
  
  line-height: 30px;
  
}

.carousel-item .row {
  display: flex;
  justify-content: space-between;
}



.carousel-item h1 {
  margin-top: 15px;
  font-size: 1rem;
  text-align: left;
}

.carousel-inner {
  padding-bottom: 05px;
}




/* .flip-card{
  position: relative;
  width:100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  z-index: 1;
}

.flip-card .front,
.flip-card .back{
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  backface-visibility: hidden;
  border-radius: 0 20px 0 px;
}

.flip-card .back{
  transform: rotateX(180deg);
  color: #000;
  background: #fff;
}

label:hover .flip-card{
  transform: rotateX(2deg);
  box-shadow: 0 20px 20px rgba(50,60,60,0.2);
}

 */

 .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos del footer personalizado */
.custom-footer {
  background-color: purple; /* Color morado para el footer */
  color: white;
  height: 3cm; /* Altura del footer */
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container > div {
  display: inline-block;
  vertical-align: middle;
}

.social-icons {
  float: right;
}

/*.social-icons a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}**/
.social-icons a {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  font-size: 40px; /* Aumenta el tamaño de los iconos */
}


.policy {
  background-color: rgba(180, 174, 199, 0.8); /* Color más claro para la sección inferior */
  color: white;
  text-align: left; /* Alinea el texto a la izquierda */
  padding: 5px 20px; /* Ajusta el espacio interno */
  font-size: 11px;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
  position: fixed; /* Fija la posición para cubrir toda la pantalla */
  bottom: 0; /* Lo coloca en la parte inferior de la pantalla */
  left: 0; /* Alinea a la izquierda */
}
